@model Proyecto_Safeparty.Models.DatoCompuesto
@{
    try
    {
        ViewData["Title"] = Model.establecimiento.nombre;
    }
    catch (Exception ex)
    {
        Console.WriteLine(ex.ToString());
    }
}

<!DOCTYPE html>
<html lang="en">
    <head>
    <link rel="stylesheet" href="~/css/site.css" /><!-- común -->
    <link rel="stylesheet" href="~/css/descripcionlocal.css" /><!-- especifico -->
    <style>
        div#comentario {
            background-color: white;
            margin-bottom: 2%;
            border: solid 1px black;
        }
    </style>
    </head>
<body>
    <div class="circulo" id="uno"></div>
    <div class="circulo" id="dos"></div>
    <div class="circulo" id="tres"></div>
    <div class="circulo" id="cuatro"></div>
    <div class="circulo" id="cinco"></div>
    <div class="circulo" id="seis"></div>
    <div class="circulo" id="siete"></div>
    <div class="circulo" id="ocho"></div>

    <div id="cartita">
        <h1 id="tituloLocal"> @ViewData["Title"] </h1>

        <h2 id="posicionLocal">Direccion: @Model.establecimiento.direccion</h2>

        <h2 id="posicionLocal">Puntuacion: @Model.establecimiento.valoracion</h2>

        <h2 id="posicionLocal">Descripción: </h2>
        <p>@Model.establecimiento.descripcion</p>

        @{
            foreach (var comentario in Model.comentario)
            {
                String link = "../lib/pictures/Users/" + @comentario.username + ".png";
                <div id="comentario">
                    <table id="tablaLocales">
                        <tr>
                            <td>
                                <img class="profilepic" src=@link alt="../lib/pictures/Users/Default.png"/>
                                <p>@comentario.username</p>
                                @{
                                    for(int i = 0; i < 5; i++)
                                    {
                                        if (@comentario.valoracion <= i)
                                        {
                                            <img src="~/lib/pictures/estrella-bn.png" />
                                        }
                                        else
                                        {
                                            <img src="~/lib/pictures/estrella-color.png" />
                                        }
                                    }
                                }
                            </td>
                        </tr>
                    </table>
                    <p>@comentario.texto</p>
                </div>
            }
        }

        <form action="@Url.Action("Comenta","Home")" method="GET">
            <input type="hidden" name="id_local" value=@Model.establecimiento.id_local />
            <button type="submit"> Comenta </button>
        </form>
    </div>
    
</body>
</html>