@model Proyecto_Safeparty.Models.DatoCompuesto
@{
    try
    {
        ViewData["Title"] = Model.establecimiento.nombre;
    }
    catch (Exception ex)
    {
        Console.WriteLine(ex.ToString());
    }
}

<!DOCTYPE html>
<html lang="en">
    <head>
    <link rel="stylesheet" href="../wwwroot/css/site.css" /> <!-- común -->
    <link rel="stylesheet" href="../wwwroot/css/local.css" />
    </head>
<body>
    @ViewData["Title"]

    <h3>Direccion : @Model.establecimiento.direccion</h3>

    <p>Puntuacion: @Model.establecimiento.valoracion</p>
    <p>Aqui va el texto</p>
    <p>@Model.establecimiento.descripcion</p>

    <table>
        @{
            foreach (var comentario in Model.comentario)
            {
                <tr>
                    <th>@comentario.username</th>
                    <th>@comentario.valoracion</th>
                    <th>@comentario.texto</th>
                </tr>
            }
        }
    </table>
    
    <form action="@Url.Action("Comenta","Home")" method="GET">
        <input type="hidden" name="id_local" value=@Model.establecimiento.id_local />
        <button type="submit">Deja un comentario</button>
    </form>


</body>
</html>