@model Proyecto_Safeparty.Models.DatoCompuesto
@{
    try
    {
        ViewData["Title"] = Model.establecimiento.nombre;
    }
    catch (Exception ex)
    {
        Console.WriteLine(ex.ToString());
    }
}

<!DOCTYPE html>
<html lang="en">
    <head>
    <link rel="stylesheet" href="../wwwroot/css/descripcionlocal.css" /><!-- especifico -->
    <link rel="stylesheet" href="../wwwroot/css/site.css" /><!-- común -->
    </head>
<body>
    <h1 id="tituloLocal"> @ViewData["Title"] </h1>
    <div>
    <h2 id="posicionLocal">Direccion: @Model.establecimiento.direccion</h2>
    <div>
    <h2 id="posicionLocal">Puntuacion: @Model.establecimiento.valoracion</h2>
    <h2 id="posicionLocal">Descripción: </h2>
    <p>@Model.establecimiento.descripcion</p>

    <table id="tablaLocales">
        <tbody>
        <tr>
            <th> Usuario </th>
            <th> Valoración </th>
            <th> Comentario </th>
        </tr>
        @{
            foreach (var comentario in Model.comentario)
            {
                <tr>
                    <td>@comentario.username </td>
                    <td>@comentario.valoracion</td>
                    <td>@comentario.texto</td>
                </tr>
            }
        }
        </tbody>
    </table>
    
    <form action="@Url.Action("Comenta","Home")" method="GET">
        <input type="hidden" name="id_local" value=@Model.establecimiento.id_local />
        <button type="submit"> Comenta </button>
    </form>


</body>
</html>